{% extends 'base.html' %}

{% block title %}Channels{% endblock %}

{% block content %}
<h2>Channels</h2>
<form method="post" action="/update_channels">
    <table>
        <thead>
            <tr>
                <th>Default Number</th>
                <th>Custom Number</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for channel in channels %}
            <tr>
                <td>{{ channel.number }}</td>
                <td>
                    <input type="text" name="channel_numbers[{{ channel.id }}]" value="{{ channel.custom_number }}" size="5">
                </td>
                <td>{{ channel.name }}</td>
                <td>
                    <a href="/channel/{{ channel.id }}">View</a>
                    |
                    <a href="{{ channel.stream_url }}" target="_blank">Stream</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Save Changes</button>
</form>
{% endblock %}
